# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ExamProject_Puzle.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\For programming\Unity\Unity_ExamGame\ExamProject_Puzle\.idea\.idea.ExamProject_Puzle\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
